html{
  scroll-behavior: smooth;
}

body{
  background-color: #737373;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}


.overview{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */
}


.overview p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}


h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav a:hover, nav a:focus{
  text-decoration: underline;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

@media screen {
  
.skip a{
  position: absolute;
  top: -40px;
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  top: 20px;
}

}

nav{
  background-color: #ddd;
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}


.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:focus {
  border: 2px solid;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 15px;
}

.container > :first-child {
  grid-column: 1/ span 3;
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about, .method, .clients, .contact{
  grid-column: 2/ span 1;
}

.about {
  grid-row: 2;
}
.method {
  grid-row: 3;
}
.clients {
  grid-row: 4;
}
.contact {
  grid-row: 5;
}

.method-image, .clients-image, .contact-image, .about-image{
  grid-column: 1 / span 3;
  max-height: 600px;
  overflow: hidden;

}

.clients-image {
  grid-row: 4;
}
.contact-image {
  grid-row: 5;
}
.method-image {
  grid-row: 3;
}
.about-image {
  grid-row: 2;
}

@media screen and (min-width: 800px) {
  nav {
    justify-content: right;
    text-align: right;
    padding: 30px 0px 30px;
  
  }

  .container {
    display: grid;
    grid-template-columns: 50px, auto, 500px, auto, 50px;
  }

  .about, .clients, .method-image, .contact-image {
    grid-column: 1 / span 2;
  }
  .method, .contact, .about-image, .clients-image {
    grid-column: 2 / span 2;
  }

  .text-block {
    max-height: 250px;
    overflow: scroll;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}



/*Your Code Here*/
/* PLEASE DO NOT REMOVE MY COMMENTS.  THEY HELP US HELP YOU DEBUG. */

/* Step 1: Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/



/* Step 2a: Write selector/rule property to position the default position for the skip class element*/


/* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/


/* Step 3: Write selector/rule property to style all elements when in focus*/



/* Step 4: Write selector/rule property to style the container */


/* Step 5: Write selector/rule property to add the background image to the 
first div in the grid  and place it in the grid. */



/* Steps 6 and 7: Write the selector/rule properties to add place the next elements in the next
 four rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine seletors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */


/* Add your media query here */


  /* Step 9: Write the selector/rule property to style the nav element */

 
  /* Step 10: Write the selector/rule property to update the .container class */


  /* Steps 11 and 12: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 13:Write the selector/rule property to update the .text-block class */

