<!DOCTYPE html>
<html>
<head>
  <title>Ismael Rivera 4c56ff</title>
  <meta charset="UTF-8">
</head>
<body>
  <div class="head">
  <h1> School of Information is COOL!</h1>
    <p>
      <span style="color: yellow; font-weight: bold; font-size: 2 rem;">COOL LINKS!</span>
    </p>
  <ul>
  
    <li><a style = "text-decoration: none;" href = "http://www.si.umich.edu">UMSI</a></li>
    <li><a style = "text-decoration: none;" href = "https://www.youtube.com/watch?v=cZB0q4mFoAg">UMSI Intro Video</a></li>
    <li><a style = "text-decoration: none;" href = "https://www.si.umich.edu/sites/default/files/inline-files/Employment%20report%20BSI%202022%20K%20%287-15%29%20no%20crops.pdf">UMSI Career Outcomes</a></li>
  
  </ul>

  </div>

</body>
</html>
